/*Importamos algunas tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* VARIABLES GLOBALES PARA LOS COLORES DEL SITIO WEB*/
  --color-primary: #7D8D86;
  --color-secondary: #3E3F29;
  --color-accent: #BCA88D;
  --color-neutral: #F1F0E4;
  --color-shadow: rgba(39, 39, 39, 0.3);
  
}

/*Algunos estilos aplicados al scroll*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-neutral); /* fondo de la barra */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary); /* color de la barrita */
  border-radius: 8px;
  transition: background-color 0.4s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent); /* color cuando pasas el mouse */
}

body {
  margin: 0;
  background-color: var(--color-accent);
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
